.mh {
    margin-bottom: 30px;
}
.mh-stripe {
    background: #9c9c9c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljOWM5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzljOWM5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ODc4NzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #9c9c9c 0%, #9c9c9c 30%, #787878 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c9c9c), color-stop(30%, #9c9c9c), color-stop(100%, #787878));
    background: -webkit-linear-gradient(top, #9c9c9c 0%, #9c9c9c 30%, #787878 100%);
    background: -o-linear-gradient(top, #9c9c9c 0%, #9c9c9c 30%, #787878 100%);
    background: -ms-linear-gradient(top, #9c9c9c 0%, #9c9c9c 30%, #787878 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#787878', GradientType=0);
}
.mh-user-menu > li > ul {
    -moz-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    -webkit-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    z-index: 9999999999;
}
.mh-search .form-text {
    margin-top: -9px;
    -webkit-appearance: none;
    -webkit-appearance: none;
}
.mh-nav {
    background: #f0f0f0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 65%, #dadada 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(65%, #f0f0f0), color-stop(100%, #dadada));
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #f0f0f0 65%, #dadada 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #f0f0f0 65%, #dadada 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #f0f0f0 65%, #dadada 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dadada', GradientType=0);
}
.mh-subnav,
.mh-two-col li {
    background: #f1f1f1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f1f1f1), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
    background: -o-linear-gradient(left, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
    background: -ms-linear-gradient(left, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
    background: linear-gradient(to right, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=1);
    -moz-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    -webkit-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
}
.mh li:hover a {
    text-decoration: none;
}
.no-touch .mh-user-menu > li:hover,
.no-touch .mh-nav-links > li:hover,
.mh-nav-links > li.hovered,
.mh-user-menu > li.hovered {
    background-color: #568a9f;
    -moz-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    -webkit-box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    border-left: 1px solid #568a9f;
}
.no-touch .mh-user-menu > li:first-child:hover + li,
.mh-user-menu > li.hovered:first-child + li,
.no-touch .mh-nav-links > li:hover + li,
.mh-nav-links > li.hovered + li {
    border-left: 1px solid #568a9f;
}
#leaderboard,
.mh-stripe-wrap,
.mh-nav-wrap {
    width: 961px;
    margin: 0 auto;
}
.mh-stripe {
    background: linear-gradient(to bottom, #9c9c9c 0%, #9c9c9c 30%, #787878 100%);
}
.mh-stripe-wrap {
    height: 32px;
}
.mh-user-menu {
    float: left;
    width: 775px;
}
.mh-user-menu li {
    font-size: 12px;
}
.mh-user-menu > li {
    float: left;
}
.mh-user-menu > li {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 4px 8px;
    position: relative;
    display: block;
    height: 24px;
}
.mh-user-menu > li {
    border-left: 1px solid #aeaeae;
}
.mh-user-menu > .masthead-user {
    float: right;
    border-left: 1px solid;
    border-left-color: #aeaeae;
}
.mh-user-menu > .masthead-user > a {
    display: block;
    height: 28px;
    text-decoration: none;
}
.mh-user-menu > .masthead-user > span {
    background: url('http://www.economist.com/sites/all/themes/econfinal/images/icons/sprite-icons.png') no-repeat 0 -4px;
    padding-left: 20px;
}
.mh-user-menu > .masthead-subscribe {
    float: right;
    background-color: #E3120B;
}
.mh-user-menu > .masthead-subscribe:hover,
.mh-user-menu > .masthead-subscribe.hovered {
    border-right: 0;
}
.mh-user-menu > li > ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 32px;
    width: 200px;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
}
.no-touch .mh-user-menu li:last-child:hover,
.mh-user-menu li.hovered:last-child {
    box-shadow: none;
}
.no-touch .mh-user-menu li:hover ul,
.mh-user-menu li.hovered ul {
    display: block;
}
.mh-user-menu ul li {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0;
    font-weight: normal;
}
.no-touch .mh-user-menu ul li:hover a,
.mh-user-menu ul li.hovered a {
    background-color: #dadada;
}
.mh-user-menu > li a {
    color: #ffffff;
}
.mh-user-menu > li > ul a {
    border-bottom: 1px solid #dadada;
    display: block;
    padding: 7px 8px;
    color: #4a4a4a;
}
.mh-user-menu > li:last-child > ul a {
    padding-left: 28px;
}
.mh-search {
    float: right;
    background-color: #4a4a4a;
    width: 210px;
    height: 100%;
}
.mh-search.focus {
    background-color: #dadada;
}
.mh-search .form-item,
.mh-search input {
    float: left;
    margin: 0;
}
.mh-search label {
    display: none;
}
.mh-search .form-text {
    background-color: #4a4a4a;
    border: 0;
    font-size: 12px;
    height: 21px;
    width: 148px;
    padding: 6px 0 2px 5px;
    color: #dadada;
}
.mh-search .form-submit {
    background: #4a4a4a url('http://www.economist.com/sites/all/themes/econfinal/images/icons/sprite-icons.png') no-repeat 0 -19px;
    height: 24px;
    border: 0;
    cursor: pointer;
    width: 21px;
    text-indent: -9999px;
    margin-top: -8px;
}
.focus .form-text,
.focus .form-submit {
    background-color: #dadada;
    outline: none;
    color: #4a4a4a;
}
.focus .form-submit {
    background-position: 0 -38px;
}
.mh-nav {
    background: #383e42;
}
.mh-nav-wrap {
    position: relative;
    height: 70px;
}
.mh-big .mh-nav-wrap {
    height: 62px;
}
.mh-big .mh-nav-wrap h1 {
    height: 85px;
    width: 170px;
}
.mh-nav-wrap h1,
.mh-nav-wrap h2 {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 0%;
    left: 0;
}
h1.svg-logo {
    background: url('http://cdn.static-economist.com/sites/all/themes/econfinal/images/the-economist-logo-170x85.png') no-repeat 0 0;
}
h2.svg-logo {
    background: url('http://cdn.static-economist.com/sites/all/themes/econfinal/images/the-economist-logo-112x56.png') no-repeat 0 0;
}
.svg .svg-logo {
    background: none;
}
.svg-logo img {
    display: none;
}
.svg .svg-logo img {
    display: block;
}
.mh-nav-wrap h1 a,
.mh-nav-wrap h2 a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.mh-logo {
    display: block;
    width: 73%;
    height: 73%;
}
.mh-nav-links {
    position: absolute;
    left: 12.4%;
    width: 87%;
    height: 100%;
}
.mh-big .mh-nav-links {
    left: 18.75%;
    width: 81.25%;
    list-style-type: none;
}
.mh-nav-links li.hovered a,
.no-touch .mh-nav-links li:hover a {
    color: #ffffff;
}
.mh-nav-links > li {
    float: left;
    padding: 0;
    height: 100%;
    border-left: 1px solid #f7f7f7;
    position: relative;
}
.mh-nav-links li:first-child {
    border-left: 0 !important;
}
.mh-nav-links li:last-child {
    border-right: 0;
}
.mh-nav-links > li > a {
    display: block;
    padding: 36px 7px 0;
    position: relative;
    font-size: 13px;
    height: 34px;
}
.mh-big .mh-nav-links > li > a {
    padding-top: 60px;
    height: 47px;
    text-decoration: none;
}
.mh-nav-links > li > a:hover,
.mh-nav-links > li > a:active,
.mh-nav-links > li > a:visited {
    text-decoration: none;
    color: #4a4a4a;
}
.mh-nav-links > li > a:hover {
    color: #ffffff;
}
.mh-subnav,
.mh-two-col li {
    background: linear-gradient(to right, #f1f1f1 0%, #ffffff 25%, #ffffff 100%);
}
.mh-subnav {
    position: absolute;
    top: 100%;
    box-shadow: 5px 4px 8px -1px rgba(129, 129, 129, 0.5);
    z-index: 99999;
    width: 170px;
}
.last .mh-subnav {
    left: -104%;
}
.mh-subnav li {
    display: block;
    line-height: 3rem;
    border-top: 1px solid #ffffff;
    padding-bottom: 1px;
}
.mh-subnav li:first-child {
    border-top: 0;
}
.mh-subnav li a {
    padding: 2px 0 10px 8px;
    height: 20px;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
.no-touch .mh-subnav li:hover,
.mh-subnav li.hovered {
    background-color: #dadada;
    color: #4a4a4a;
}
.no-touch .mh li:hover .mh-subnav a,
.mh li.hovered .mh-subnav a,
.no-touch .mh-subnav li a:hover a,
.mh-subnav li a.hovered a {
    color: #4a4a4a;
}
.no-touch .mh-nav-links li:hover .mh-subnav,
.mh-nav-links li.hovered .mh-subnav {
    display: block;
}
.mh-subnav {
    display: none;
}
.mh-two-col .mh-subnav {
    width: 304px
}
.mh-two-col li {
    float: left;
    width: 152px;
}
.no-touch .mh-two-col li:hover,
.mh-two-col li.hovered {
    background: #dadada;
}
#social-share-buttons-block {
    background-color: #F0F0F0;
    margin-bottom: 12px;
}
#social-share-buttons-block .title {
    color: #4A4A4A;
    font: 20px Georgia, "Times New Roman", Times, serif;
    border-bottom: 2px solid #FFF;
    border-top: 3px solid #4A4A4A;
    padding: 8px 10px;
}
#social-share-buttons-block .title cite {
    font-style: italic;
}
#social-share-buttons-block ul {
    list-style: none;
    padding: 12px 10px 6px;
    margin: 0;
}
#social-share-buttons-block li {
    float: left;
    height: 30px;
    width: 30px;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 0 6px 0 0;
}
#social-share-buttons-block ul li > a {
    background: url(http://cdn.static-economist.com/sites/all/themes/econfinal/images/share-sprite.png) no-repeat 0 0;
    display: block;
    height: 0;
    padding-top: 30px;
}
#social-share-buttons-block ul li.twitter > a {
    background-position: 0 -30px;
}
#social-share-buttons-block ul li.linked-in > a {
    background-position: 0 -60px;
}
#social-share-buttons-block ul li.google-plus > a {
    background-position: 0 -90px;
}
#social-share-buttons-block ul li.tumblr > a {
    background-position: 0 -120px;
}
#social-share-buttons-block ul li.pinterest > a {
    background-position: 0 -150px;
}
#social-share-buttons-block ul li.youtube > a {
    background-position: 0 -180px;
}
#social-share-buttons-block ul li.rss > a {
    background-position: 0 -210px;
}
#social-share-buttons-block ul li.newsletters > a {
    background-position: 0 -240px;
}
#social-share-buttons-block ul li.instagram > a {
    background-position: 0 -485px;
}
footer .footer-stripe-top,
footer .footer-stripe-bottom,
footer .footer-stripe-top a,
footer .footer-stripe-bottom a {
    color: #b6b6b6;
    font: 12px 'EconSans' !important;
    font-weight: 300 !important;
    text-decoration: none;
}

footer .footer-stripe-top,
footer .footer-stripe-bottom {
    overflow: hidden;
    height: 32px;
}

footer .footer-stripe-bottom ul {
    border-top: 1px solid #7a7a7a;
}

footer .footer-stripe-top ul,
footer .footer-stripe-bottom ul {
    height: 100%;
    width: 97%;
    margin: 0 auto;
}
footer .footer-stripe-top li,
footer .footer-stripe-bottom li {
    float: left;
    color: #b6b6b6;
    font-weight: 300 !important;
    font-size: 12px;
    list-style-type: none;
    line-height: 26px;
    padding: 4px 15px 10px 0px;
}
footer .footer-stripe-top li:hover,
footer .footer-stripe-bottom li:hover {
    background-color: #121212;
}
footer .footer-stripe-top a:hover,
footer .footer-stripe-bottom a:hover {
    color: #7a7a7a;
    text-decoration: none;
}
footer .footer-stripe-bottom li:first-child:hover {
    background-color: transparent;
}
.footer-stripe-top li:last-child {
    padding-right: 6px;
}
.footer-stripe-top {
    background-color: #121212;
}
.footer-stripe-bottom {
    background-color: #121212;
}
